* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  padding: 0 2rem;
}

.message {
  font-size: 14px;
  color: #353535;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 38rem;
}

.message-bubble {
  padding: 8px 12px;
  border: 1px solid #353535;
  border-radius: 16px;
  position: relative;
}

.message-bubble::before {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 11px solid #353535;
}

.message-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.chat-input-area {
  margin-top: 24px;
  display: flex;
  width: 100%;
  max-width: 38rem;
  background: #F2F0EF;
  border-radius: 1rem;
  font-size: 14px;
  height: 12rem;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
}

textarea {
  height: 100%;
}

textarea, input {
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
  color: #353535;
}

textarea:focus, input:focus {
  outline: none;
  box-shadow: none;
}

.onboarding {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hide {
  display: none;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.indicator {
  height: 42px;
  width: 42px;
  background: #353535;
  color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.actions{
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: space-between;
}

#restart-button {
  height: 36px;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  color: #F2F0EF;
  background: #353535;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit-button {
  height: 36px;
  width: 36px;
  border: none;
  background: #353535;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
}
